.wrapper {
  height: 96vh;
  width: 98vw;
  min-width: 960px;
  overflow: clip;
  margin: 2vh 1vw;
}

mat-sidenav-content {
  overflow: clip;
}

.hidden {
  display: none;
}

button {
  width: 140px;
  margin: 0 10px;
}
.mdc-icon-button {
  width: 36px !important;
}

.getInputBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 20px 0;
}
.getInputBlock button {
  width: 180px;
  margin-bottom: 20px;
}
.inputControlBlock {
  display: flex;
  flex-direction: column;
}
.requestControlBlock, .responseControlBlock {
  position: absolute;
  left: 20px;
  top: 80px;
  width: 400px;
  padding: 25px;
  z-index: 100;
  background-color: #e8e8e8;
  border: 2px solid;
  display: flex;
  flex-direction: column;
}
.requestControlBlock button, .responseControlBlock button {
  margin: 0 auto;
  width: 100px;
}
.requestControlBlock mat-form-field, .responseControlBlock mat-form-field {
  width: 300px;
}

.requestText {
  height: 120px;
  width: 60vw;
}
.requestText textarea {
  resize: none;
  height: 80px;
  overflow: auto;
}

.getRequestBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.resultBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 20px 0;
}
.resultBlock mat-form-field {
  width: 512px;
  height: 512px;
  // border: 1px solid red;
}
.resultBlock .imageBlock {
  width: 512px;
  height: 512px;
  border: 1px solid;
}
// .resultBlock .imageBlock img {
//   margin-left: calc(20vw - 128px);
// }
.resultBlock textarea {
  resize: none;
  height: 480px;
}

.processing {
  position: absolute;
  padding: 20px;
  left: calc(50vw - 85px);
  top: calc(50vh - 85px);
  background-color: #f8f8f8;
  z-index: 100;
}

