<mat-sidenav-container class="wrapper">

  <mat-toolbar color="primary">{{title}}</mat-toolbar>

  <div class="getInputBlock">
    <div class="inputControlBlock">
      <button mat-raised-button class="" color="accent" matTooltip="Setup Request Paramters..."
                (click)="showParameters = true">Setup Parameters</button>
      <button mat-raised-button class="" color="accent" matTooltip="Show Results..."
                (click)="showResults = true">Show Results</button>
    </div>

    <div class="requestControlBlock" [@fade]="showParameters ? 'visible' : 'hidden'"
              (@fade.done)="txtUnlockKey.focus()" (keyup.enter)="showParameters = false">
      <div>
        <mat-form-field class="unlockKeyText" appearance="outline" color="primary">
          <mat-label>Enter 'UNLOCK KEY'...</mat-label>
          <input #txtUnlockKey matInput [type]="pwType" [(ngModel)]="unlockKey">
        </mat-form-field>

        <button mat-icon-button [matTooltip]="pwType === 'password' ? 'Show password...' : 'Hide password'" 
                (click)="pwType = pwType === 'password' ? 'text' : 'password'">
          <mat-icon *ngIf="pwType === 'text'">visibility_off</mat-icon>
          <mat-icon *ngIf="pwType === 'password'">visibility_on</mat-icon>
        </button>
      </div>

      <mat-label>Temperature:</mat-label>
      <mat-slider discrete min="0.0" max="1.0" step="0.1">
        <input matSliderThumb [(ngModel)]="temperature">
      </mat-slider>

      <mat-label>Frequency Penalty:</mat-label>
      <mat-slider discrete min="-2.0" max="2.0" step="0.1">
        <input matSliderThumb [(ngModel)]="frequency_penalty">
      </mat-slider>

      <mat-label>Presence Penalty:</mat-label>
      <mat-slider discrete min="-2.0" max="2.0" step="0.1">
        <input matSliderThumb [(ngModel)]="presence_penalty">
      </mat-slider>
              
      <mat-label>Max Tokens:</mat-label>
      <mat-slider discrete min="8" max="1000" step="4">
        <input matSliderThumb [(ngModel)]="max_tokens">
      </mat-slider>

      <button mat-raised-button class="" color="accent" matTooltip="Close Parameters Window..."
                (click)="showParameters = false">Finished</button>
    </div>

    <div class="responseControlBlock" [@fade]="showResults ? 'visible' : 'hidden'"
                (@fade.done)="btnCloseResults.focus()">
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="completionCreated">
        <mat-label>Created:</mat-label>
        <input matInput #txtCreated [ngModel]="completionCreated" readonly="true">
      </mat-form-field>

      <mat-form-field class="" appearance="outline" color="primary" *ngIf="imageFormat">
        <mat-label>Image Type:</mat-label>
        <input matInput [ngModel]="imageFormat" readonly="true">
      </mat-form-field>
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="currentResult.object">
        <mat-label>Object Type:</mat-label>
        <input matInput [ngModel]="currentResult.object" readonly="true">
      </mat-form-field>
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="currentResult.id">
        <mat-label>Object ID:</mat-label>
        <input matInput [ngModel]="currentResult.id" readonly="true">
      </mat-form-field>
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="currentResult.model">
        <mat-label>Model:</mat-label>
        <input matInput [ngModel]="currentResult.model" readonly="true">
      </mat-form-field>
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="currentResult.finish_reason">
        <mat-label>Finish Reason:</mat-label>
        <input matInput [ngModel]="currentResult.finish_reason" readonly="true">
      </mat-form-field>
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="currentResult.total_tokens">
        <mat-label>Total Tokens:</mat-label>
        <input matInput [ngModel]="currentResult.total_tokens" readonly="true">
      </mat-form-field>
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="currentResult.prompt_tokens">
        <mat-label>Prompt Tokens:</mat-label>
        <input matInput [ngModel]="currentResult.prompt_tokens" readonly="true">
      </mat-form-field>
      <mat-form-field class="" appearance="outline" color="primary" *ngIf="currentResult.completion_tokens">
        <mat-label>Completion Tokens:</mat-label>
        <input matInput [ngModel]="currentResult.completion_tokens" readonly="true">
      </mat-form-field>

      <button #btnCloseResults mat-raised-button class="" color="accent" matTooltip="Close Paramters Window..."
                (click)="showResults = false">Finished</button>
    </div>
    <div class="spacer20"></div>
    <mat-form-field class="requestText" appearance="outline" color="primary">
      <mat-label>Create a 'Prompt'...</mat-label>
      <textarea matInput [(ngModel)]="textPrompt"></textarea>
    </mat-form-field>
  </div>

  <div class="getRequestBlock">
    <button mat-raised-button class="" color="accent" matTooltip="Get a 'Completion' from OpenAI..."
                (click)="getIdea()">Get Idea</button>
    <button mat-raised-button class="" color="accent" matTooltip="Get a 'Picture' from OpenAI..."
                (click)="getImage()">Get Picture</button>
    <button mat-raised-button class="" color="accent" matTooltip="Get All Behavior 'Models' from OpenAI..."
                (click)="getModels()">Get Models</button>
  </div>

  <div class="resultBlock">
    <mat-form-field class="unlockKeyText" appearance="outline" color="primary" *ngIf="currentResult.text">
      <mat-label></mat-label>
        <textarea matInput [(ngModel)]="currentResult.text"></textarea>
    </mat-form-field>
    <img [src]="imageURL" alt="" width="512" height="512" *ngIf="imageURL">
  </div>

  <div class="processing" *ngIf="showProgress">
    <mat-spinner color="primary" diameter="150"></mat-spinner>
  </div>

</mat-sidenav-container>